/**
 * @name Taverncord
 * @author TheDJHimself
 * @version AutoUpdating
 * @description Light-weight Tavern and modern phone app like theme for Discord
*/

@import url("https://slddev.github.io/SpotiCord/src/boot.css");
@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css");

/*SpotiCord Vars*/
:root {
    --sc-gradient-color: #1455D9;
}

/*Friends-Grid*/
:root {
    --FA-version: "v1.0.10 (SpotiCord Version)";

    --FG-row: 1fr 1fr 1fr;

    --FG-search-radius: 8px;

    --FG-cards-radius: 8px;
    --FG-cards-height: 180px;
    --FG-cards-banner-background: var(--brand-experiment);
    --FG-cards-margin-bottom: 26px;
    --FG-cards-banner-height: 20px;
    --FG-cards-border-width: 1px;

    --FG-avatar-margin-top: 46px;
    --FG-avatar-margin-left: 20px;
    --FG-text-margin-left: 20px;

    --FG-cards-banner-opacity-normal: 1;
    --FG-cards-banner-opacity-hover: 1;
    --FG-cards-banner-opacity-active: 1;

    --FG-cards-avatar-opacity-normal: 1;
    --FG-cards-avatar-opacity-hover: 1;
    --FG-cards-avatar-opacity-active: 1;

    --FG-cards-username-opacity-normal: 1;
    --FG-cards-username-opacity-hover: 1;
    --FG-cards-username-opacity-active: 1;

    --FG-cards-discriminator-opacity-normal: 1;
    --FG-cards-discriminator-opacity-hover: 1;
    --FG-cards-discriminator-opacity-active: 1;

    --FG-cards-status-opacity-normal: 1;
    --FG-cards-status-opacity-hover: 1;
    --FG-cards-status-opacity-active: 1;

    --FG-cards-button-opacity-normal: 0;
    --FG-cards-button-opacity-hover: 1;
    --FG-cards-button-opacity-active: 0;

    --FG-mutal-guilds-normal: 0;
    --FG-mutal-guilds-hover: 1;
    --FG-mutal-guilds-active: 1;

    --FG-avatar-shape: 50%;

    --FG-transition: all 0.4s ease;

    --user-accent-color: var(--FG-cards-banner-background);
    --theme-version: "0.5.9c ";
}

[id^="SpotiCord"] .bd-addon-header .bd-version:before {
    content: "v" var(--theme-version);
}

.info_c5a741:after {
    content: "Taverncord Version 1.0.0";
    top: 16px;
    color: var(--text-muted);
    position: relative;
}

[id^="SpotiCord"] .bd-addon-header .bd-version {
    font-size: 0;
}

[id^="SpotiCord"] .bd-addon-header .bd-version:before {
    font-size: 14px;
}

.bd-switch input:checked + .bd-switch-body {
    --switch-color: var(--background-accent);
}

.wordmarkWindows_a934d8:after {
    content: "Taverncord V1.0.0 By TheDJHimself";
    color: var(--text-muted);
    font-size: 12px;
    padding-left: 10px;
    position: relative;
    bottom: 4px;
}

.theme-dark {
    --FG-search-background: var(--background-tertiary);

    --FG-cards-background-normal: var(--background-secondary);
    --FG-cards-background-hover: var(--activity-card-background);

    --FG-cards-background-active: var(--activity-card-background);

    --FG-cards-border-color-normal: var(--background-modifier-accent);
    --FG-cards-border-color-hover: var(--background-modifier-accent);

    --FG-cards-username-normal: var(--header-primary);
    --FG-cards-username-hover: var(--header-primary);
    --FG-cards-discriminator-normal: var(--header-secondary);
    --FG-cards-discriminator-hover: var(--header-secondary);
    --FG-cards-status-normal: var(--header-secondary);
    --FG-cards-status-hover: var(--header-secondary);

    --FG-cards-button-icon-normal: var(--interactive-active);
    --FG-cards-button-icon-hover: var(--activity-card-background);
    --FG-cards-button-background-normal: rgba(0, 0, 0, 0.3);
    --FG-cards-button-background-hover: rgba(0, 0, 0, 0.6);
}

.theme-light {
    --FG-search-background: var(--background-tertiary);

    --FG-cards-background-normal: var(--background-secondary);
    --FG-cards-background-hover: var(--activity-card-background);

    --FG-cards-background-active: var(--activity-card-background);

    --FG-cards-border-color-normal: var(--background-modifier-accent);
    --FG-cards-border-color-hover: var(--background-modifier-accent);

    --FG-cards-username-normal: var(--header-primary);
    --FG-cards-username-hover: var(--header-primary);
    --FG-cards-discriminator-normal: var(--header-secondary);
    --FG-cards-discriminator-hover: var(--header-secondary);
    --FG-cards-status-normal: var(--header-secondary);
    --FG-cards-status-hover: var(--header-secondary);

    --FG-cards-button-icon-normal: var(--interactive-active);
    --FG-cards-button-icon-hover: var(--activity-card-background);
    --FG-cards-button-background-normal: rgba(255, 255, 255, 0.3);
    --FG-cards-button-background-hover: rgba(255, 255, 255, 0.6);
}

/*RadialStatus*/
:root {
    --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
    --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
    --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */

    --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
    --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
    --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */

    --rs-avatar-shape: 50%; /* 50% for round - 0% for square */

    --rs-online-color: #43b581; /* Colour for online status */
    --rs-idle-color: #faa61a; /* Colour for idle status */
    --rs-dnd-color: #f04747; /* Colour for dnd status */
    --rs-offline-color: #636b75; /* Colour for offline status */
    --rs-streaming-color: #643da7; /* Colour for streaming status */
    --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
    --rs-phone-color: var(
        --rs-online-color
    ); /* Colour of the ring and phone icon when a user is on their phone |  */

    --rs-phone-visible: none; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
}


.theme-dark {
    --text-normal: #f4f4f4;
    --background-primary: #121212;
    --background-secondary: #181818;
    --background-secondary-alt: #282828;
    --background-tertiary: #000;
    --background-floating: #282828;
    --background-accent: #1ed760;
    --channeltextarea-background: #242424;
    --input-background: #242424;
    --interactive-normal: #b3b3b3;
    --interactive-hover: #fff;
    --deprecated-quickswitcher-input-background: #313131;
    --background-modifier-selected: hsla(0, 0%, 100%, 0.1);
    --background-modifier-hover: hsla(0, 0%, 100%, 0.2);
    --background-modifier-active: hsla(0, 0%, 100%, 0.2);
    --modal-background: #121212;
    --modal-footer-background: #121212;
    --home-background: #121212;
    --channel-icon: #b3b3b3;
}

/*Ditch Light Theme*/
.theme-light {
    --header-primary: #fff;
    --header-secondary: #f4f4f4;
    --text-normal: #f4f4f4;
    --background-primary: #121212;
    --background-secondary: #181818;
    --background-secondary-alt: #282828;
    --background-tertiary: #000;
    --background-floating: #282828;
    --background-accent: #1ed760;
    --channeltextarea-background: #242424;
    --input-background: #242424;
    --deprecated-quickswitcher-input-background: #313131;
    --interactive-normal: #b3b3b3;
    --interactive-hover: #fff;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-modifier-selected: hsla(0, 0%, 100%, 0.1);
    --background-modifier-hover: hsla(0, 0%, 100%, 0.2);
    --background-modifier-active: hsla(0, 0%, 100%, 0.2);
    --modal-background: #121212;
    --modal-footer-background: #121212;
    --home-background: #121212;
    --channel-icon: #b3b3b3;
}



/* a ton of imports ive gotta do thru so i can edit this in full*/

@import url("https://slddev.github.io/SpotiCord/src/Home/index.css");
@import url("https://slddev.github.io/SpotiCord/src/Plugins/index.css");
@import url("https://slddev.github.io/SpotiCord/src/Popouts/index.css");
@import url("https://slddev.github.io/SpotiCord/src/Serverlist/index.css");
@import url("https://slddev.github.io/SpotiCord/src/UI/index.css");
@import url("https://slddev.github.io/SpotiCord/src/ProfileCards/index.css");
@import url("https://slddev.github.io/SpotiCord/src/ProfileCards/source.css");
